@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-light: #6ee7b7;
  --color-primary-dark: #047857;
  --color-primary-DEFAULT: #10b981;

  --color-secondary-light: #a5b4fc;
  --color-secondary-dark: #4f46e5;
  --color-secondary-DEFAULT: #6366f1;

  --color-accent-light: #fcd34d;
  --color-accent-dark: #b45309;
  --color-accent-DEFAULT: #f59e0b;

  --color-neutral-light: #f3f4f6;
  --color-neutral-dark: #9ca3af;
  --color-neutral-DEFAULT: #374151;

  --color-background: #111827;
  --color-background-light: #1f2937;
}

body {
  font-family: "Poppins", sans-serif;
}
